[Desktop Entry]
Name=CAN BUS
Name[zh_TW]=CAN总线
Name[zh_CN]=CAN总线

Type=Application
Icon=/usr/share/pixmaps/can192.png
Exec=/home/myir/mxcan --platform linuxfb
Terminal=false
MimeType=application/x-directory;inode/directory;
Categories=System;FileTools;Utility;Qt;FileManager;
