[Desktop Entry]
Name=EtherNet
Name[zh_TW]=以太网
Name[zh_CN]=以太网

Type=Application
Icon=/usr/share/pixmaps/ethernet192.png
Exec=/home/myir/mxnet --platform linuxfb
Terminal=false
MimeType=application/x-directory;inode/directory;
Categories=System;FileTools;Utility;Qt;FileManager;
