@charset "utf-8";
html,body{color:#333;font:14px/1.6 'Microsoft YaHei','宋体';width:100%;padding:0;margin:0 auto;}
section{ width:100%; margin:0 auto; display:none;}
.clear{ clear:both;}
header{
	width:100%;
	height:75px;
	padding:30px 0px 15px 0px;
	margin-bottom:10px;
	text-align:center;
	background:url('../images_en/header.png') no-repeat center center;		
}
.language{
	margin-top:52px;
	position:absolute;
	margin-left:-20px;
	cursor:pointer;
	max-height:30px;
}
header img{
	display:inline-block;
	max-width:800px;	
}
footer{
	text-align:center;
	padding:10px 0;
}
#main{
	width:1200px;
	margin:0 auto;
}
#left{
	float:left;
	width:200px;
	padding:10px 0;
	background:url('../images_en/sp.png') no-repeat right center;
}
#left span{
	display:inline-block;
	width:100%;
	height:80px;
	margin:5px auto;
	cursor:pointer;
}
#left span.menu1{
	background:url('../images_en/left1.png') no-repeat center center;
}
#left span.menu1_on{
	background:url('../images_en/left1-2.png') no-repeat center center;
}
#left span.menu2{
	background:url('../images_en/left2.png') no-repeat center center;
}
#left span.menu2_on{
	background:url('../images_en/left2-2.png') no-repeat center center;
}
#left span.menu3{
	background:url('../images_en/left3.png') no-repeat center center;
}
#left span.menu3_on{
	background:url('../images_en/left3-2.png') no-repeat center center;
}
#left span.menu4{
	background:url('../images_en/left4.png') no-repeat center center;
}
#left span.menu4_on{
	background:url('../images_en/left4-2.png') no-repeat center center;
}
#left span.menu5{
	background:url('../images_en/left5.png') no-repeat center center;
}
#left span.menu5_on{
	background:url('../images_en/left5-2.png') no-repeat center center;
}
#left span.menu6{
	background:url('../images_en/left6.png') no-repeat center center;
}
#left span.menu6_on{
	background:url('../images_en/left6-2.png') no-repeat center center;
}
#right{
	float:right;
	width:1000px;	
}
#right section{
	margin-left:60px;
	width:850px;
}
#right section h2{

}
#right section div.one_item{
	color:#999;
	margin-bottom:80px;
}
#right section div.one_item img {
	max-height: 30px;
	position: absolute;
	margin-top: -42px;
	margin-left: 15px;
}
#right section div.one_item select{
	width:350px;
	height:28px;
	color:#999;
	display:block;
	margin-bottom:15px;
}
.button{
	background:url("../images_en/off.png") no-repeat center center;
	display:inline-block;
	width:120px;
	height:26px;
	border:none;
	cursor:pointer;
	border-radius:3px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}
.second{
	margin-left:106px;
}
textarea{width:99%;height:80px;margin:5px auto;}
.on{background:url("../images_en/on.png") no-repeat center center;}
.fr{float:right;}
table tr td{
	padding:5px;
	color:#666;
	
}

table tr td select{
	padding:0px 5px;

}
.orange{
	background:url('../images_en/orange.png') no-repeat center center;
}
.mright50{margin-right:50px;}

.nav span{
	cursor:pointer;
	display:inline-block;
	height:35px;
	line-height:35px;
	font-size:16px;
	width:100px;
	text-align:center;
	font-weight:bold;
	border:1px solid rgb(232,232,232);
	color:#666;
	border-left:0px;
	border-bottom:0px;
	margin-bottom:-2px;
}
.nav span:first-child{
	border-left:1px solid rgb(232,232,232);
}
.nav span.current{
	background:rgb(244,248,251);
	border-bottom:0px;
	
}
input.text{
	display:block;
	width:350px;
	height:22px;
	margin-bottom:12px;
	color:#666;
}

.nav_item{
	background-color:rgb(244,248,251);
	border-radius:0px 15px 15px 15px; 
	border:1px solid rgb(232,232,232);
	
	padding:30px 50px 30px 50px;
	width:748px;
	
}
input.site{
	width:99%;
}
.contact .one_item{
	color:#333;
	height:auto;
}
.contact h2 {
	border-bottom: 1px solid #ccc;
	display: inline-block;
	width: 100%;
	line-height: 60px;
}